<%= form_for @home do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.button 'Save Homepage' %>
  </div>
<% end %>

<div class="helpdocs"><%= @help_doc_text %></div>
