<%= form_for @page do |f| %>
  <dl>
    <dt><%= f.label :title %></dt>
    <dd><%= f.text_field :title %></dd>

    <dt><%= f.label :category %></dt>
    <dd><%= f.text_field :category, value: @category_name %></dd>

    <dt><%= f.label :body %></dt>
    <dd><%= f.text_area :body %></dd>
  </dl>

  <div>
    <%= f.button 'Save Page' %>
  </div>
<% end %>
