<%= form_for @page do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.text_field :category, value: @category_name %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.button 'Save Page' %>
  </div>
<% end %>
