<%= form_for @page do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.button 'Save Page' %>
  </div>
<% end %>
