<%= form_for @category do |f| %>
  <div>
    <%= f.label :name, 'Category Name' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.button 'Save Category' %>
  </div>
<% end %>

<div class="helpdocs"><%= @help_doc_text %></div>
