<!DOCTYPE html>
<html>
  <head>
    <title>NRHS V-Twin Performance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/main_nav' %>

    <div class="flash-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <div class="nav main-nav">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'Account Settings', edit_user_registration_path, :method => :get %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>

        <% if admin_signed_in? %>
          <li><%= link_to 'Manage Pages', pages_path %></li>
          <li><%= link_to 'Manage Categories', categories_path %></li>
          <li><%= link_to 'Manage Images', images_path %></li>
          <li><%= link_to 'Edit Help Text', edit_help_doc_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="banner">
      <a href="http://www.xlbuellforum.com/">
        <%= image_tag '/img/xlbuellforum.png', title: 'XLBuellForum.com', alt: 'XLBuellForum.com' %>
      </a>
    </div>
  </body>
</html>
